In [2]:
import numpy as np
import pandas as pd

In [4]:
zoo = pd.read_csv('Dataset/zoo.csv', delimiter = ',')

In [5]:
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [6]:
zoo[['animal']].count()

animal    22
dtype: int64

In [7]:
zoo[['water_need']].sum()

water_need    7650
dtype: int64

In [11]:
zoo[['water_need']].min()

water_need    80
dtype: int64

In [10]:
zoo[['water_need']].max()

water_need    600
dtype: int64

In [12]:
zoo[['water_need']].mean()

water_need    347.727273
dtype: float64

In [15]:
zoo[['water_need']].median()

water_need    325.0
dtype: float64

In [19]:
zoo.groupby('animal').mean()[['uniq_id', 'water_need']]

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714